/*
Tulis di sini semua style yang Anda buat.
Tidak diperbolehkan membuat file .CSS lainnya.
*/
		img{
			width: 400px;
			height:  400px;
		}
		.isi{
			margin: 0px auto;
		}

		h1{
			text-align: center;
			color: white;
		}

		body{
			background: Lavender;
		}

			th,td{
			padding: 15px;
		}

		.x{
			width: 100px;
			height: 100px;
		}

		.cx{
			background-image: url(../coba/images/patter.jpg);
		}

		.i1{
			display: inline;
		}
		.as{
			width: 270px;
			height: 270px;
			padding: 40px;

		}